.banner__principal{
    @include caja_flex(flex,center,center);
    @include size(100%,650px);
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;  
    .btn__banner{
        @include btn(transparent);
        @include caja_flex(flex,center,center);
        position: absolute;
        bottom: 0;
        left: calc(50% - 220px);
        padding: 10px 60px;
        border-radius: 30px;
        border: solid $color-white 2px;
        margin: 0px 10px;
        transition: background-color .4s ease;
        &:nth-child(2){
            left: 55%;
        }
        a{
            text-decoration: none;
            color: $color-white;
            transition: color .4s ease;
        }
        &:hover{
            background-color: $color-white;
        }
        &:hover a{
            color: #333333;
        }
    }
}