.footer{
    @include caja_flex(flex,center,space-around);
    @include size(100%,300px);
    position: relative;
    .contend__listas__footer{
        @include caja_flex(flex,center,center);
        flex-direction: column;
        width: 100%;
        .leyenda__footer{
            @include caja_flex(flex,center,center);
            width: 100%;
            span{
                color: #a2a2a2;
            }
        }
        .menus__footer{
            margin: 0;
            padding: 0;
            position: relative;
            list-style: none;
            .list__footer{
                display: block;
                position: relative;
                margin: 0;
                padding: 2px 10px;
                cursor: pointer;
                transition:transform .3s ease-in;
                a{
                    text-decoration: none;
                    color: $color-green-litgh;
                    @include font(1em,300);
                    &:hover{
                        text-decoration: underline 1px;
                        
                    }
                }
            }
        }
    }
    .terminos{
        @include caja_flex(flex,center,center);
        position: absolute;
        bottom: 10px;
        width: 100%;
        .terminos__links{
            display: block;
            padding: 0px 20px;
            a{
                text-decoration:none;
                color: $color-green-litgh;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}