@media screen and (max-width: 1024px) {
  body {
    .nav {
      .btn__login {
        border: solid 2px $color-white;
        right: 10px;
      }

      .tittle__nav {
        top: 35px;

        a {
          color: $color-black;
          text-decoration: none;
          @include font(1.1em, 500);
        }
      }
    }
  }
}

@media screen and (max-width: 775px) {
  body {
    .nav {
      .btn__login {
        border: solid 2px $color-white;
        right: 10px;
      }

      .tittle__nav {
        a {
          color: $color-black;
          text-decoration: none;
        }
      }
    }

    .banner__principal {
      .content__btn {
        flex-direction: column;

        .btn__banner {
          margin: 7px 0px;
          border: solid $color-white 1px;
        }
      }
    }

    .footer {
      flex-wrap: wrap;

      .contend__listas__footer {
        padding: 30px 0px;
        justify-content: flex-start;
        width: 100%;

        .leyenda__footer {
          justify-content: flex-start;
          width: 100%;
          padding: 0px 10px;
        }

        .menus__footer {
          width: 100%;
          padding: 0;
          justify-content: flex-start;
        }
      }
    }
  }
}

@media screen and (max-width: 725px) {
  body {
    // contenedor del navegador
    .header {
      display: flex;
      position: relative;
      width: 100%;
      // iconos responsivos 
      .icons__responsive {
        display: flex;
        right: 0;
        position: absolute;
        left: 0;
        z-index: 11000;
        .abrir__menu {
          display: flex;
          left: -1px;
          border: none;
          outline: none;
          padding: 10px 20px;
          background-color: transparent;
          &.inactivo {
            visibility: hidden;
          }
        }
        // estilos generales de los iconos 
        .icons {
          font-size: 1.7em;
          color: $color-green-litgh;
          cursor: pointer;
        }
      }
      // navegador 
      .nav {
        width: 50%;
        .quitar__menu {
          display: none;
          border: none;
          outline: none;
          padding: 10px 20px;
          background-color: transparent;
          &.activo {
            display: flex;
          }
        }
        .menu {
          display: none;
          .menu__list {
            padding: 15px 30px;
          }
        }
        &.active {
          @include caja_flex(flex, center, center);
          background-color: $color-green-second;
          flex-direction: column;
          left: 0;
          top: 0;
          height: 100%; 
          position: fixed;
        }
      }
    }
  // contenido 
  .banner__principal {
    .content__btn {
      flex-direction: column;
      // botones del banner 
      .btn__banner {
        margin: 7px 0px;
      }
    }
  }
  // pie de pagina 
  .footer {
    flex-wrap: wrap;

    .contend__listas__footer {
      padding: 30px 0px;
      justify-content: flex-start;
      width: 100%;

      .leyenda__footer {
        justify-content: flex-start;
        padding: 0px 0px 0px 10px;
        span{
          padding: 0;
        }
      }

      .menus__footer {
        width: 100%;
        padding: 0;
        justify-content: flex-start;
      }
    }
  }
}
}