@media screen and (max-width: 1024px) {
  body {
    .nav {
      .btn__login {
        border: solid 2px $color-white;
        right: 10px;
      }
    }
  }
}

@media screen and (max-width: 775px) {
  body {
    .nav {
      // boton de login 
      .btn__login {
        border: solid 2px $color-white;
        right: 10px;
        z-index: 33000;
      }
    }

    .banner__principal {
      // ceontenedor de banners 
      .content__btn {
        flex-direction: column;
        // bonotes del banners 
        .btn__banner {
          margin: 7px 0px;
          border: solid $color-white 1px;
        }
      }
    }

    .footer {
      flex-wrap: wrap;
      // contenedores
      .contend__listas__footer {
        padding: 30px 0px;
        justify-content: flex-start;
        width: 100%;
        // titulos de menus 
        .leyenda__footer {
          justify-content: flex-start;
          width: 100%;
          padding: 0px 10px;
        }
        // menus 
        .menus__footer {
          width: 100%;
          padding: 0;
          justify-content: flex-start;
        }
      }
    }
  }
}

@media screen and (max-width: 725px) {
  body {
    // contenedor del navegador
    .header {
      display: flex;
      position: relative;
      width: 100%;
      // iconos responsivos
      .icons__responsive {
        display: flex;
        right: 0;
        position: absolute;
        left: 0;
        //icono de abrir menu
        .abrir__menu {
          display: flex;
          left: 1px;
          border: none;
          outline: none;
          padding: 10px 20px;
          background-color: transparent;
          z-index: 100;
          &.inactivo {
            visibility: hidden;
          }
        }
        // estilos generales de los iconos
        .icons {
          font-size: 1.7em;
          color: $color-green-litgh;
          cursor: pointer;
        }
      }
      // navegador
      .nav {
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        transition: visibility .5s ease;
        // menu 
        .menu {
          visibility: hidden;
          .menu__list {
            padding: 25px 30px;
          }
        }
        // estado activo del menu 
        &.active {
          @include caja_flex(flex, center, center);
          visibility: visible;
          width: 50%;
          flex-direction: column;
          background-color: rgb(0, 0,0,.1);
          backdrop-filter: blur(5px);
          flex-direction: column;
          left: 0;
          top: 0;
          height: 100%;
          position: fixed;
          z-index: 200;
          animation: mostrarMenu 350ms ease-in-out both;
          // menu 
          .menu {
            visibility: visible;
            flex-direction: column;
            .menu__list {
              padding: 25px 30px;
              a{
                color: $color-white;
              }
            }
          }
          // btn quitar menu 
          .quitar__menu{
            color: $color-white;
            font-size: 1.4em;
            padding: 0px 10px;
            animation: quitarMenu 350ms ease-in-out;
          }
        }
        // icono responsive de quitar el menu 
        .quitar__menu {
          visibility: hidden;
          border: none;
          outline: none;
          padding: 10px 20px;
          position: absolute;
          top: 40px;
          left: 15px;
          &.activo {
            display: block;
            z-index: 20000;
            visibility: visible;
          }
        }
      }

      // animaciones
      @keyframes mostrarMenu {
        from{opacity: 0;}
        to{opacity: 1;}
      } 
      @keyframes quitarMenu {
      from{opacity: 1;}
      to{opacity: 0;}
      }

      // boton de login 
      .contend__btnlogin{
        position: absolute;
        right: 0;
      }
    }
    // contenido
    .banner__principal {
      .content__btn {
        flex-direction: column;
        // botones del banner
        .btn__banner {
          margin: 7px 0px;
        }
      }
    }
    // pie de pagina
    .footer {
      flex-wrap: wrap;
      // contenedores 
      .contend__listas__footer {
        padding: 30px 0px;
        justify-content: flex-start;
        width: 100%;
        // titulos del menus 
        .leyenda__footer {
          justify-content: flex-start;
          padding: 0px 0px 0px 10px;
          span {
            padding: 0;
          }
        }
        // menus 
        .menus__footer {
          width: 100%;
          padding: 0;
          justify-content: flex-start;
        }
      }
    }
  }
}
