.header {
  @include size(100%, 7.5rem);
  background-color: transparent;
  position: fixed;
  z-index: 100;
  @include caja_flex(flex, center, center);
  justify-content: space-around;
  &:hover{
    background-color: $color-white;
  }
  .icons__responsive {
    display: none;
  }
  .header__tittle{
    position:absolute;
    left: 20px;
    top: 45px;
    display: flex;
    span{
      font-size: 1.2em;
      color: $color-green-litgh;
    }
  }
  .nav {
    width: 100%;
    height: 100%;
    background-color: transparent;
    @include caja_flex(flex, center, center);
    position: relative;
    .quitar__menu {
      display: none;
    }
    .menu {
      @include caja_flex(flex, center, center);
      list-style: none;
      height: 100%;
      margin: 0;
      padding: 0;
      .menu__list {
        display: flex;
        padding: 0px 1.25rem;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          left: -130px;
          bottom: 0;
          background-color: $color-green-litgh;
          @include size(100%, 1px);
          transition: left 0.4s ease;
        }
        &:hover::after {
          left: 0;
        }
        a {
          text-decoration: none;
          color: $color-green-litgh;
          position: relative;
        }
        i {
          position: absolute;
          left: 0;
          bottom: -30px;
        }
      }
    }
  }
  .contend__btnlogin {
    @include caja_flex(flex, center, center);
    height: 100%;
    position: relative;
    .button {
      @include caja_flex(flex, center, center);
      padding: 0.8em 1.7em;
      background-color: transparent;
      border-radius: 0.3em;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: 0.5s;
      font-weight: 400;
      font-size: 1em;
      border: none;
      font-family: inherit;
      text-transform: uppercase;
      color: $color-green-litgh;
      z-index: 1000;
      margin: 0px 15px;
      a {
        text-decoration: none;
        color: $color-black;
      }
      &::before,
      &::after {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: $color-green-second;
        transition: 1s ease;
      }

      &::before {
        top: -1em;
        left: -1em;
      }

      &::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
      }

      &:hover::before,
      &:hover::after {
        height: 410px;
        width: 410px;
      }

      &:hover {
        color: rgb(10, 25, 30);
      }

      &:active {
        filter: brightness(0.8);
      }
    }
  }
}
