
.nav {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  &:hover{
    background-color: $color-cream;
  }
  .tittle__nav{
    position: absolute;
    left: 20px;
    top: 30px;
    span{
      position: relative;
      width: 100%;
     a{
      color:$color-black;
      @include font(1.5em,500);
     }
    }
  }
  .menu {
    @include caja_flex(flex, center, center);
    @include size(100%,100px);
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    .menu__list {
      margin: 0px 5px;
      position: relative;
      overflow: hidden;
      padding: 0px 30px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #4b4b4b;
        @include font(1.1em, 300);
        overflow: hidden;
        transition: color .3s ease-out;
        &::after{
          content: '';
          position: absolute;
          left: -130px;
          bottom: 0;
          @include size(100%,1px);
          background-color: #333333;
          transition: left .3s ease;
        }
        &:hover::after{
          left: 0;
        }
      }
      i {
        color: #333333;
        font-size: 1.3em;
        padding: 10px;
        position: absolute;
        bottom: -40px;
        left: 0;
      }
    }
  }

  .btn__login{
    @include caja_flex(flex,center,center);
    @include btn(transparent);
    @include size(100px,60px);
    position: absolute;
    overflow: hidden;
    left: unset;
    right: 30px;
    top: 20px;
    margin-left: 30px;
    transition:background-color .3s ease ;
    span{
        position: absolute;
        transition: left .5s ease;
        a{
          color: #4b4b4b;
          text-decoration: none;
        }
    }
    .icon{
        position: absolute;
        left: -50px;
        color: #333333;
        transition: left .5s ease;
    }
    &:hover span{
        left: 10px;
    }
    &:hover .icon{
      left: 70px;
    }
    &:hover{
      background-color: $color-white;
    }

  }

}
