
// COLORS
$color-white:#FFFFFF;
$color-black:#1b1b1b;
$color-cream:#EFFFFA;
$color-lithg:#E5ECF4;
$color-purple-litgh:#C3BEF7;
$color-purple:#8A4FFF;
$color-green-litgh:#447046;
$color-green-second:#bce5be;
$color-yellow:#e6bd4c;
$color-pink-litgh:#fa5ba5;
$color-blue-litgh:#a8f8ff;

// MIXINS
@mixin size($wid,$heid){
    width: $wid;
    height: $heid;
}

@mixin caja_flex($flex,$alig,$justy){
    display: $flex;
    align-items: $alig;
    justify-content: $justy;
}

@mixin font($size,$weid){
    font-size: $size;
    font-weight: $weid;
}

@mixin btn($bg){
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: $bg;
}



//GENERALES
*,::before,::after{
    margin: 0;
    padding: 0;
    
}

body{
    font-family:  'Nunito Sans', sans-serif;
    ::-webkit-scrollbar{
        width:10px ;
    }
}
body::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: $color-green-second; /* Color de la barra de desplazamiento */
  }

// SIZES


