@import 'variables';

.main{
    position: relative;
    background-color: aquamarine;
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr))
}


@import "medias";