*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}
body ::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #bce5be; /* Color de la barra de desplazamiento */
}

.nav {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}
.nav:hover {
  background-color: #EFFFFA;
}
.nav .tittle__nav {
  position: absolute;
  left: 20px;
  top: 30px;
}
.nav .tittle__nav span {
  position: relative;
  width: 100%;
}
.nav .tittle__nav span a {
  color: #1b1b1b;
  text-decoration: none;
  font-size: calc(1vw + 1rem);
}
.nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav .menu .menu__list {
  margin: 0px 5px;
  position: relative;
  overflow: hidden;
  padding: 0px 30px;
  cursor: pointer;
}
.nav .menu .menu__list a {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 1.1em;
  font-weight: 300;
  overflow: hidden;
  transition: color 0.3s ease-out;
}
.nav .menu .menu__list a::after {
  content: "";
  position: absolute;
  left: -130px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #333333;
  transition: left 0.3s ease;
}
.nav .menu .menu__list a:hover::after {
  left: 0;
}
.nav .menu .menu__list i {
  color: #333333;
  font-size: 1.3em;
  padding: 10px;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.nav .btn__login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  width: 6em;
  height: 60px;
  position: absolute;
  overflow: hidden;
  left: unset;
  right: 30px;
  top: 20px;
  margin-left: 30px;
  transition: background-color 0.3s ease;
}
.nav .btn__login.sin-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  width: 6em;
  height: 60px;
  position: absolute;
  overflow: hidden;
  left: unset;
  right: 30px;
  top: 20px;
  margin-left: 30px;
  transition: background-color 0.3s ease;
}
.nav .btn__login span {
  position: absolute;
  transition: left 0.5s ease;
}
.nav .btn__login span a {
  color: #4b4b4b;
  text-decoration: none;
}
.nav .btn__login .icon {
  position: absolute;
  left: -50px;
  color: #333333;
  transition: left 0.5s ease;
}
.nav .btn__login:hover span {
  left: 10px;
}
.nav .btn__login:hover .icon {
  left: 70px;
}
.nav .btn__login:hover {
  background-color: #FFFFFF;
}

.banner__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner__principal .leyenda {
  display: flex;
  position: absolute;
  padding: 25px;
  bottom: calc(50% - 100px);
  font-size: 2.5em;
  font-weight: 700;
  color: #FFFFFF;
  z-index: 5;
  transition: color 0.3s ease;
}
.banner__principal .leyenda:nth-child(2) {
  color: #fa5ba5;
}
.banner__principal .content__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.banner__principal .content__btn .btn__banner {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  left: calc(50% - 220px);
  padding: 10px 60px;
  border-radius: 30px;
  border: solid #FFFFFF 1px;
  margin: 0px 10px;
  transition: background-color 0.4s ease;
  z-index: 3;
}
.banner__principal .content__btn .btn__banner:nth-child(2) {
  left: 55%;
}
.banner__principal .content__btn .btn__banner a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.4s ease;
}
.banner__principal .content__btn .btn__banner:hover {
  background-color: #EFFFFA;
}
.banner__principal .content__btn .btn__banner:hover a {
  color: #447046;
}

.banner, .tres, .dos, .uno {
  background-size: cover;
  background-position: center;
}
.banner::after, .tres::after, .dos::after, .uno::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(360deg, #181818 0%, #222222 7%, transparent 89%);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.uno {
  background-image: url(../img/img-1.jpg);
  height: 100vh;
}

.dos {
  background-image: url(../img/img-2.jpg);
}

.tres {
  background-image: url(../img/img-4.jpg);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  position: relative;
}
.footer .contend__listas__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.footer .contend__listas__footer .leyenda__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.footer .contend__listas__footer .leyenda__footer span {
  color: #a2a2a2;
}
.footer .contend__listas__footer .menus__footer {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.footer .contend__listas__footer .menus__footer .list__footer {
  display: block;
  position: relative;
  margin: 0;
  padding: 2px 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.footer .contend__listas__footer .menus__footer .list__footer a {
  text-decoration: none;
  color: #447046;
  font-size: 1em;
  font-weight: 300;
}
.footer .contend__listas__footer .menus__footer .list__footer a:hover {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

@media screen and (max-width: 1024px) {
  body .nav .btn__login {
    border: solid 2px #FFFFFF;
    right: 10px;
  }
  body .nav .tittle__nav {
    top: 35px;
  }
  body .nav .tittle__nav a {
    color: #1b1b1b;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
  }
}
@media screen and (max-width: 775px) {
  body .nav .btn__login {
    border: solid 2px #FFFFFF;
    right: 10px;
  }
  body .nav .tittle__nav a {
    color: #1b1b1b;
    text-decoration: none;
  }
  body .banner__principal .content__btn {
    flex-direction: column;
  }
  body .banner__principal .content__btn .btn__banner {
    margin: 7px 0px;
  }
  body .footer {
    flex-wrap: wrap;
  }
  body .footer .contend__listas__footer {
    padding: 30px 0px;
    justify-content: flex-start;
    width: 100%;
  }
  body .footer .contend__listas__footer .leyenda__footer {
    justify-content: flex-start;
    width: 100%;
    padding: 0px 10px;
  }
  body .footer .contend__listas__footer .menus__footer {
    width: 100%;
    padding: 0;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 725px) {
  body .nav .menu {
    display: none;
  }
  body .nav .btn__login {
    border: solid 2px #FFFFFF;
    right: 10px;
  }
  body .nav .tittle__nav a {
    color: #1b1b1b;
    text-decoration: none;
  }
  body .banner__principal .content__btn {
    flex-direction: column;
  }
  body .banner__principal .content__btn .btn__banner {
    margin: 7px 0px;
  }
  body .footer {
    flex-wrap: wrap;
  }
  body .footer .contend__listas__footer {
    padding: 30px 0px;
    justify-content: flex-start;
    width: 100%;
  }
  body .footer .contend__listas__footer .leyenda__footer {
    justify-content: flex-start;
    padding: 0px 10px;
  }
  body .footer .contend__listas__footer .menus__footer {
    width: 100%;
    padding: 0;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */